body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: lightgray;
    height: 2800px;
}

section {
    margin: 10px;
    padding: 10px;
    width: 550px;
    background-color: white;
    border: 1px solid gray;
}


.section-title {
    margin: 5px;
    border-bottom: 1px solid gray;
    font-weight: 100;
}

.shortcut {
    display: flex;
    justify-content: space-between;
    align-content: baseline;
    padding: 10px;
}

.shortcut:not(:last-of-type) {
    border-bottom: 1px solid lightgray;
}￼
￼￼
￼

.shortcut .meta {
    padding: 5px;
}
.shortcut .meta .title {
    display: block;
}
.shortcut .meta .id {
    display: block;
    padding-top: .5em;
    color: gray;
}


.keys-container {
    margin-top: auto;
    margin-bottom: auto;
}

.key {
    border: 1px solid gray;
    border-radius: 2px;
    padding: 5px 10px 5px 10px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3);   
}

.key:hover {
    box-shadow: inset 1px 1px 3px 1px rgba(0, 0, 0, 0.3);
}

.keys-container .key-group:not(:last-of-type)::after {
    content: "  -  "    
}