<html>
    <head>
        <title>Jupyter Lab Keyboard Shortcuts</title>
    </head>
    <body>
        {{#shortcuts}}
            <h3>{{title}}</h3>
            {{#options}}
                <h5>{{action}}</h5>
                {{#keys}}
                    <p>
                    {{#.}}
                        | {{.}}
                    {{/.}}
                    </p>
                {{/keys}}
            {{/options}}
        {{/shortcuts}}
    </body>
</html>