<html>
    <head>
        <title>Jupyter Lab Keyboard Shortcuts</title>
        <link>
    <link rel="stylesheet" href="style/index.css">
    </head>
    <body>
        {{#shortcuts}}
            <h1 class="section-title">{{title}}</h1>
            {{#options}}
                <div class="shortcut">
                    <div class="meta">
                        <span class="title">{{action}}</span>
                        <span class="id">{{id}}</span>
                    </div>
                    <div class="keys-container">
                        {{#keys}}
                            <span class="key-group">
                                {{#.}}
                                    <span class="key">{{.}}</span>
                                {{/.}}
                                {{^.}}
                                    (unset)
                                {{/.}}
                            </span>
                        {{/keys}}
                    </div>
                </div>
            {{/options}}
        {{/shortcuts}}
    </body>
</html>